.word-card {
    width: 25em;
    padding: 2em;
}

.word-title {
    margin: 0;
}

.word-para {
    margin: 5px 0;
}

.word-syllables {
    margin-top: 10px;
}

.word-detail-button-back {
    margin: 0 0 0 5px;
}

.word-detail-button-next-word {
    margin: 0 5px 0 0;
}