<section class="word-container">
    <mat-card class="word-card">
        <h1>Word Dashboard</h1>

        <div class="word-button-container">
            <button mat-raised-button color="primary">Find words</button>
            <button mat-raised-button color="basic">Search word</button>
        </div>
    </mat-card>

    <mat-card class="word-card">
       <h2>My words</h2>
       <h1>{{ word }}</h1>
        <!-- <mat-list>
            <mat-list-item *ngFor="let word of words" >{{word}}</mat-list-item>
        </mat-list> -->
    </mat-card>
</section>
